#imgr{
 width: 100%;
 height: 110px;
 border: 1px solid transparent;   
}
#imgr>img{
    width: 110px;
    height: 100px;
    margin: auto;
}
#nav{
    border: 1px solid transparent;
    width: 100%;
    height: 50px;
    display: flex;
    gap: 10px;
}
#nav>div:nth-child(1){
    border: 1px solid transparent;
    width: 50%;
    height: 50px;
    margin-left: 150px;
}
#nav>div:nth-child(2){
    border: 1px solid transparent;
    width: 150px;
    display: flex;

}
#nav>div:nth-child(3){
    border: 1px solid transparent;
    width: 150px;
    display: flex;

}
#nav>div:nth-child(4){
    border: 1px solid transparent;
    width: 150px;
    display: flex;

}
input{
    width: 100%;
    border: 1px solid rgb(116, 112, 112);
    height: 90%;
}
#ime{
    width: 15%;
    height: 70%;
}